

<% @auction = Auction.find(params[:id]) %>
<% @bid = Bid.new %>

<%= form_with(model: @bid, local: true) do |form| %>
 
  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <%= form.hidden_field :auction_id, value: @auction.id %>

  <div class="actions">
    <%= form.submit %>
  </div>

  <% @bid.id = @auction.id%>

<% end %>
