<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @auction.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @auction.description %>
</p>

<p>
  <strong>End:</strong>
  <%= @auction.end %>
</p>

<p>
  <strong>Reserve:</strong>
  <%= @auction.reserve %>
</p>

<p>
  <strong>User:</strong>
  <%= @auction.user.email %>
</p>

<%= link_to 'Edit', edit_auction_path(@auction) %> |
<%= link_to 'Back', auctions_path %>
